{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}BucksBunny - Track Expenses with Friends{% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    {% endblock %}


    {% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custom-navbar">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo.png') }}" width="60" height="60" alt="BucksBunny Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-white" href="{{ url_for('login') }}">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="content">
            <div class="text">
                <h1>BucksBunny</h1>
                <h2>Track Your Personal Expenses!</h2>
                <p>
                    Ever wondered where your money goes every month?<br>
                    BucksBunny helps you take control of your finances with easy-to-use expense tracking.<br>
                    Monitor, manage, and master your spending habits!
                </p>
                <button id="cta-button" class="btn btn-warning" onclick="window.location.href=`{{ url_for('signup') }}`">Let's Go!</button>
            </div>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='images/landing.jpeg') }}" alt="Landing Image" class="logo">
            </div>
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% endblock %}

