html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: Arial, sans-serif;
    background-color: rgb(37, 8, 65);
    color: #FFFFFF;
}

.signup-container, .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #845EC2 50%, #C34A36 75%, #FF8066 100%);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
}

.input-group-text {
    color: #FFF;
    background: transparent; 
    border: none; 
}

.form-control {
    padding-right: 30px; 
}

.input-group-text, .form-check-label {
    background: transparent;
    border: none;
    user-select: none;
}

.btn-primary {
    background-color: #5822bb; 
    border: none;
    color: #FFF; 
    width: 100%;
    border-radius: 4px; 
}

.btn-primary:hover {
    background-color: #2b115c; 
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    background-color: transparent; 
    border: none; 
    border-bottom: 2px solid #FFFFFF; 
    color: #FFF; 
    padding: 10px 0; 
    margin-bottom: 20px; 
}

.form-control:focus {
    background-color: transparent; 
    border-bottom: 2px solid #FFCCCB; 
    color: #FFF;
    outline: none; 
    box-shadow: none; 
}

