<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Expense Dashboard</title>
    <link rel="stylesheet" href="static/css/group_style.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <header>
        <h1>Group Expense Dashboard</h1>
    </header>
    <main>
        <section id="insights">
            <h2>Group Insights</h2>
            <div id="insightCards"></div>
        </section>
        <section id="membersExpenses">
            <h2>Member Expenses</h2>
            <div id="memberCharts"></div>
        </section>
    </main>
    <script src="static/js/group_index.js"></script>
</body>
</html>
