{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Sign Up
{% endblock %}

{% block styles %}
{{ super() }}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('.static', filename='signup.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='signin.css') }}">

{% endblock %}

{% block content %}

<div class="signup-container">

    <form method="POST" action="/signup">
        <h2 class="form-signin-heading">Sign Up</h2>
        {{ form.hidden_tag() }}
        <!--{{ wtf.form_field(form.email) }}
        -->

        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="firstName">{{ form.firstName.label.text }}</label>
            <div class="input-group">
                    {{ form.firstName(class="form-control", id="firstName") }}
            </div>
            </div>
            <div class="form-group col-md-4">
                {{ wtf.form_field(form.middleName, class="form-control", id="middleName") }}
            </div>
            <div class="form-group col-md-4">
                <div class="input-group">
                {{ wtf.form_field(form.lastName, class="form-control", id="lastName") }}
            </div>
            </div>
        </div>
            <div class="form-group">
                {{ wtf.form_field(form.username, class="form-control", id="username") }}
            </div>
            <div class="form-group">
                {{ wtf.form_field(form.email, class="form-control", id="email") }}
            </div>
            <div class="form-group">
                <div class="form-group col-md-6">
                    {{ wtf.form_field(form.dob, class="form-control", id="dob", onchange="validateDOB()") }}
                  </div>            
            </div>         

        <div class="form-row">
            <div class="form-group col-md-6">
              {{ wtf.form_field(form.mobile, type="tel", pattern="[0-9]*", inputmode="numeric", class="form-control",
              id="mobile") }}
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="city">Region</label>
            <select id="city" class="form-control" name="city">
                <option value="">Choose...</option>
                {% for city_name in ['Australian Capital Territory', 'New South Wales', 'Northern Territory', 'Queensland', 'South Australia', 'Tasmania', 'Victoria', 'Western Australia'] %}
                <option value="{{ city_name }}" {{ 'selected' if city_name == selected_city else '' }}>{{ city_name }}</option>

                {% endfor %}
            </select>
        </div>
        
        
        
        <div class="form-row">
            <div class="form-group col-md-6">
              <div class="input-group">
                {{ wtf.form_field(form.password, class="form-control", id="password") }}
              </div>
            </div>
            
            <div class="form-group col-md-6">
              <div class="input-group">
                {{ wtf.form_field(form.confirmPassword, class="form-control", id="confirmPassword") }}
              </div>
            
             <div id="passwordMatchMessage" class="text-danger mt-2"></div>
            </div>
      
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>

</div> <!-- /container -->
{% endblock %}